<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="container-fluid center_div">
        {{>header}}

        <div class="row" style="text-align: center;">
            <h4>Get Latest Weather Information Here</h4>
        </div>
        <div class="row" style="text-align: center;">
            <img src="/img/weather.jpg" />
        </div>

        {{>footer}}
    </div>
</body>

</html>